<!--Congrats -->

<div class="Congrats">
 <img src="../../../assets/img/back_cong.svg" class="img-100 congrats-arrange"> 

 <div class="yellowbox">
	 <div class="m-auto d-block">
		<img src="../../../assets/img/CongratsTick.svg" class="">
		<span class="ml-3" i18n>Your Prediction Has Been Saved.</span></div>
	 </div>
	
 <p class="bazigaar px-3" i18n>Hey Baazigar! Change your prediction anytime you want until <span class="orange">6th March, 2022</span></p>

	<div class="text-arrange">
	

<div class="d-flex container">
	<div class="row">
		<div class="col-6"><img src="../../../assets/img/asianpaints2.svg" class="img-100 ml-2"></div>

	<div class="col-4 col-md-5 p-0"><a (click)="knowMore()" href="http://pubads.g.doubleclick.net/gampad/clk?id=5911234079&iu=/2599136/Click_Tracker" target="_blank" class="text-asian" >Click here to book a 3D design consultation with an asian paints expert</a></div>
</div>
</div>


		<div class="congrats_btn">
			<span i18n>Predict for other states</span>
		</div>
	</div>

</div>

<!--Congrats  End-->


<!-- State -->
<!-- State Images -->
<div class="container margin-top">
	<div class="row">

	
		<div *ngFor="let s of listShow2; let i = index" class="col-4 p-0 m-0">
			<div class="posre">
				<img src="{{image}}img/{{s}}.svg" class="img-100" [routerLink]="['/s_state',{'state':s}]">
				<div class="posab"><img src="{{image}}img/text{{s}}.svg"></div>
				<div  *ngIf="listShow[i] === 'Checked-'+s" class="postick"><img src="{{image}}img/bigtick.svg"></div>
			  </div>
		</div>

	

			  

	</div>

	
</div>


<!-- ADD GAME -->

<div class="background">
	<div class="gameimage">
    <a href="https://bit.ly/3IkH6h5" target="_blank"><img src="../../../assets/game/1.png" class="img-fluid"></a>
	<a href="https://bit.ly/3Gutkb4" target="_blank"><img src="../../../assets/game/2.png" class="img-fluid"></a>
	<a href="https://bit.ly/33dcuPE" target="_blank"><img src="../../../assets/game/3.png" class="img-fluid"></a>
</div>

	
	
	<div class="morebutton">
		<a href="https://www.gamesmasti.com/" target="_blank"><button i18n>PLAY MORE GAMES</button></a>
	</div>
	<p class="morelink"><a href="https://www.gamesmasti.com/" target="_blank"><u>More Games</u></a></p>
</div>

<ng-template #internetNotWorking let-c="close" let-d="dismiss">
	<div class="modal-header">
	  <h4 class="modal-title" id="modal-basic-title" i18n>Whoops</h4>
  
	</div>
	<div class="modal-body">
	  <p i18n> Oops, no internet connection! Please check the connection and try again.</p>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn clrgreen" (click)="d('Cross click')">
		<span class="nointernate" i18n="@@99906972521">Ok</span>
	  </button>
	</div>
  </ng-template>

