<div class="zone">

  <!-- With Tick Put This Color 00FFFF -->
  <button [ngClass]="{'active': up }" class="active btn bg-white" (click)="click('up')">Uttarpradesh</button>
  <button [ngClass]="{'active': uttrakhand }" class="btn bg-white" (click)="click('uttrakhand')">Uttarakhand</button>
  <button [ngClass]="{'active': punjab}" class="btn bg-white " (click)="click('punjab')">Punjab</button>
  <button [ngClass]="{'active': goa}" class="btn bg-white" (click)="click('goa')">Goa</button>
  <button [ngClass]="{'active': overall}" class="btn bg-white" (click)="click('overall')">Over All</button>

</div>

<div class="uttarpradesh" *ngIf="up === true">
  <div class="p-3">
    <div class="main">
      <span class="fix" i18n>S.No</span>
      <span class="fix" i18n>Mobile No</span>
      <span class="fix" i18n>D. Score</span>
      <span class="fix" i18n>Rank</span>

    </div>

    <div *ngIf="user">
      <div class="bgyellow">
        <span class="fix">You</span>
        <span class="fix">{{user[0].mobileNumber}}</span>
        <span class="fix">
          <div *ngIf="!user[0].score_UP || user[0].score_UP >= 9999">
            NA
          </div>
          <div *ngIf="user[0].score_UP < 9999">
            {{user[0].score_UP}}<span class="red">*</span>
          </div>
        </span>
        <span class="fix">
        <div *ngIf="!user[0].rank_UP || user[0].rank_UP >= 9999 || user[0].score_UP >= 9999">
          <span class="fix">NA</span>
        </div>
        <div *ngIf="user[0].rank_UP < 9999 && user[0].score_UP < 9999">
          <span class="fix">{{user[0].rank_UP}}<span class="red">*</span></span>
        </div>
      </span>

      </div>
    </div>
    <div *ngIf="UP">
      <div *ngFor="let user of UP; let i = index">
        <div [ngClass]="{ 'first' : i <= 30 ,'bgyellow' : i >= 31}">
          <span class="fix">{{i+1}}</span>
          <span class="fix">{{user.mobileNumber}}</span>
          <span class="fix">{{user.score_UP}}<span class="red">*</span></span>
          <span class="fix">{{user.rank_UP}}<span class="red">*</span></span>

        </div>
      </div>
    </div>

    <div>
	    <p class="ranktext" i18>Can't wait to check your Rank? Just wait for Election
Results to be announced and then come back to check your Rank and
D.Score on December 5th, 2023 9 pm. See you soon!!</p>
      <!-- <h4 class="savelink"> Save Game</h4> -->

    </div>
    <div *ngIf="user && user[0].rank_UP <= 30 && user[0].score_UP < 9999">
      <div>
        <button class="proceed" (click)="claim()">Claim</button>
      </div>
    </div>
  </div>
</div>

<div class="uttrakhand" *ngIf="uttrakhand === true">
  <div class="p-3">
    <div class="main">
      <span class="fix" i18n>S.No</span>
      <span class="fix" i18n>Mobile No</span>
      <span class="fix" i18n>D. Score</span>
      <span class="fix" i18n>Rank</span>

    </div>


    <div *ngIf="user">
      <div class="bgyellow">
        <span class="fix">You</span>
        <span class="fix">{{user[0].mobileNumber}}</span>
        <span class="fix">
          <div *ngIf="!user[0].score_Uttarakhand || user[0].score_Uttarakhand>= 9999">
            NA
          </div>
          <div *ngIf="user[0].score_Uttarakhand < 9999">
            {{user[0].score_Uttarakhand}}<span class="red">*</span>
          </div>
        </span>
        <span class="fix">
          <div *ngIf="!user[0].rank_Uttarakhand || user[0].rank_Uttarakhand >= 9999 || user[0].score_Uttarakhand >= 9999">
            NA
          </div>
          <div *ngIf="user[0].rank_Uttarakhand < 9999 && user[0].score_Uttarakhand < 9999">
            {{user[0].rank_Uttarakhand}}<span class="red">*</span>
          </div>
        </span>
      </div>
    </div>

    <div *ngIf="Uttarakhand">
      <div *ngFor="let user of Uttarakhand; let i = index">
        <div [ngClass]="{ 'first' : i <= 30 ,'bgyellow' : i >= 31}">
          <span class="fix">{{i+1}}</span>
          <span class="fix">{{user.mobileNumber}}</span>
          <span class="fix">{{user.score_Uttarakhand}}<span class="red">*</span></span>
          <span class="fix">{{user.rank_Uttarakhand}}<span class="red">*</span></span>

        </div>
      </div>
    </div>
    <div>
      <p class="ranktext" i18n> Check your RANK and D.SCORE on March 11th, 2022 after the Election results are
        announced.
        Save this game/URL to check on March 11th if you have won a prize. Happy Playing!</p>
      <!-- <h4 class="savelink"> Save Game</h4> -->

    </div>
    <div *ngIf="user && user[0].rank_Uttarakhand <= 30 && user[0].score_Uttarakhand < 9999">
      <div>
        <button class="proceed" (click)="claim()">Claim</button>
      </div>
    </div>
  </div>

</div>

<div class="punjab" *ngIf="punjab === true">
  <div class="p-3">
    <div class="main">
      <span class="fix" i18n>S.No</span>
      <span class="fix" i18n>Mobile No</span>
      <span class="fix" i18n>D. Score</span>
      <span class="fix" i18n>Rank</span>

    </div>


    <div *ngIf="user">
      <div class="bgyellow">
        <span class="fix">You</span>
        <span class="fix">{{user[0].mobileNumber}}</span>
        <span class="fix">
          <div *ngIf="!user[0].score_Punjab || user[0].score_Punjab >= 9999">
            NA
          </div>
          <div *ngIf="user[0].score_Punjab < 9999">
            {{user[0].score_Punjab}}<span class="red">*</span>
          </div>
        </span>
        <span class="fix">
          <div *ngIf="!user[0].rank_Punjab || user[0].rank_Punjab >= 9999 || user[0].score_Punjab >= 9999">
            NA
          </div>
          <div *ngIf="user[0].rank_Punjab < 9999 && user[0].score_Punjab < 9999">
            {{user[0].rank_Punjab}}<span class="red">*</span>
          </div>
        </span>

      </div>
    </div>

    <div *ngIf="Punjab">
      <div *ngFor="let user of Punjab; let i = index">
        <div [ngClass]="{ 'first' : i <=30 ,'bgyellow' : i >=31}">
          <span class="fix">{{i+1}}</span>
          <span class="fix">{{user.mobileNumber}}</span>
          <span class="fix">{{user.score_Punjab}}<span class="red">*</span></span>
          <span class="fix">{{user.rank_Punjab}}<span class="red">*</span></span>

        </div>
      </div>
    </div>
    <div>
      <p class="ranktext" i18n> Check your RANK and D.SCORE on March 11th, 2022 after the Election results are
        announced.
        Save this game/URL to check on March 11th if you have won a prize. Happy Playing!</p>
      <!-- <h4 class="savelink"> Save Game</h4> -->

    </div>
    <div *ngIf="user && user[0].rank_Punjab <= 30 && user[0].score_Punjab < 9999">
      <div>
        <button class="proceed" (click)="claim()">Claim</button>
      </div>
    </div>
  </div>
</div>

<div class="goa" *ngIf="goa === true">
  <div class="p-3">
    <div class="main">
      <span class="fix" i18n>S.No</span>
      <span class="fix" i18n>Mobile No</span>
      <span class="fix" i18n>D. Score</span>
      <span class="fix" i18n>Rank</span>

    </div>

    <div *ngIf="user">
      <div class="bgyellow">
        <span class="fix">1</span>
        <span class="fix">{{user[0].mobileNumber}}</span>
        <span class="fix">
          <div *ngIf="!user[0].score_Goa ||user[0].score_Goa >= 9999">
            NA
          </div>
          <div *ngIf="user[0].score_Goa < 9999">
            {{user[0].score_Goa}}<span class="red">*</span>
          </div>
        </span>
        <span class="fix">
          <div *ngIf="!user[0].rank_Goa ||user[0].rank_Goa >= 9999 || user[0].score_Goa >= 9999">
            NA
          </div>
          <div *ngIf="user[0].rank_Goa < 9999 && user[0].score_Goa < 9999">
            {{user[0].rank_Goa}}<span class="red">*</span>
          </div>
        </span>

      </div>
    </div>

    <div *ngIf="Goa">
      <div *ngFor="let user of Goa; let i = index">
        <div [ngClass]="{ 'first' : i <=30 ,'bgyellow' : i >=31}">
          <span class="fix">{{i+1}}</span>
          <span class="fix">{{user.mobileNumber}}</span>
          <span class="fix">{{user.score_Goa}}<span class="red">*</span></span>
          <span class="fix">{{user.rank_Goa}}<span class="red">*</span></span>

        </div>
      </div>
    </div>

    <div>
      <p class="ranktext" i18n> Check your RANK and D.SCORE on March 11th, 2022 after the Election results are
        announced.
        Save this game/URL to check on March 11th if you have won a prize. Happy Playing!</p>
      <!-- <h4 class="savelink"> Save Game</h4> -->

    </div>
    <div *ngIf="user && user[0].rank_Goa <= 30 && user[0].score_Goa < 9999">
      <div>
        <button class="proceed" (click)="claim()">Claim</button>
      </div>
    </div>

  </div>


</div>

<div class="goa" *ngIf="overall === true">
  <div class="p-3">
    <div class="main">
      <span class="fix" i18n>S.No</span>
      <span class="fix" i18n>Mobile No</span>
      <span class="fix" i18n>D. Score</span>
      <span class="fix" i18n>Rank</span>

    </div>

    <div *ngIf="user">
      <div class="bgyellow">
        <span class="fix">You</span>
        <span class="fix">{{user[0].mobileNumber}}</span>
        <span class="fix">
          <div *ngIf="!user[0].score_OverAll || user[0].score_OverAll >= 9999">
            NA
          </div>
          <div *ngIf="user[0].score_OverAll < 9999 ">
            {{user[0].score_OverAll}}<span class="red">*</span>
          </div>
        </span>
        <span class="fix">
          <div *ngIf="!user[0].rank_OverAll || user[0].rank_OverAll >= 9999 || user[0].score_OverAll >= 9999">
            NA
          </div>
          <div *ngIf="user[0].rank_OverAll < 9999 && user[0].score_OverAll < 9999">
            {{user[0].rank_OverAll}}<span class="red">*</span>
          </div>
        </span>

      </div>
    </div>

    <div *ngIf="OverAll">
      <div *ngFor="let user of OverAll; let i = index">
        <div [ngClass]="{ 'first' : i <=30 ,'bgyellow' : i >=31}">
          <span class="fix">{{i+1}}</span>
          <span class="fix">{{user.mobileNumber}}</span>
          <span class="fix">{{user.score_OverAll}}<span class="red">*</span></span>
          <span class="fix">{{user.rank_OverAll}}<span class="red">*</span></span>

        </div>
      </div>
    </div>

    <div>
      <p class="ranktext" i18n> Check your RANK and D.SCORE on March 11th, 2022 after the Election results are
        announced.
        Save this game/URL to check on March 11th if you have won a prize. Happy Playing!</p>
      <!-- <h4 class="savelink"> Save Game</h4> -->

    </div>
    <div *ngIf="user && user[0].rank_OverAll <= 30 && user[0].score_OverAll < 9999">
      <div>
        <button class="proceed" (click)="claim()">Claim</button>
      </div>
    </div>
  </div>
</div>

<ng-template #internetNotWorking let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" i18n>Whoops</h4>

  </div>
  <div class="modal-body">
    <p i18n> Oops, no internet connection! Please check the connection and try again.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn clrgreen" (click)="d('Cross click')">
      <span class="nointernate" i18n="@@99906972521">Ok</span>
    </button>
  </div>
</ng-template>
